; Anaconda XB 360 configuration
; This file is auto-created on first run.
; Change repoUrl to point at a different repository.

repoUrl=https://raw.githubusercontent.com/H3X-Anaconda-Team/anaconda-xb-360/main/repo/repo.ini
